body {
    background-color: #f4dff2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contenedor {
    background: white;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 350px;
}

h2 {
    text-align: center;
    color: #9d2075;
}

h3 {
    text-align: center;
    color: #9d2075;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    box-sizing: border-box;
}

.btn-registrar {
    background-color: #9d2075;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 3px;
}

.btn-registrar:hover {
    background-color: #0056b3;
}

#listaCitas {
    margin-top: 30px;
    width: 400px;
}

.cita-card {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
}